/* Features */

.features {
  @extend %list;
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }

  background-color: getColor("basic-white");
}

.feature-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.feature-item {
  width: 100%;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
    width: 270px;
  }
}

.subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  color: getColor("title-color");
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p {
  margin-top: 0;
  margin-bottom: 0;
}

.icon-features {
  @include centeredFlex();
  justify-content: center;
  height: 120px;

  margin-bottom: 30px;
  background: getColor("team-button-bgr");
  border-radius: 4px;
}
