/* hero */
.hero {
  position: relative;
  margin-top: 61px;
  background: getColor("footer-hero-bgr");
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;

  background-size: cover;

  @media screen and (max-width: 480px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/overlay-mobile.jpg);
  }

  @media screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/overlay-mobile@2x.jpg);
  }

  @media screen and (min-resolution: 3dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/overlay-mobile@3x.jpg);
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/overlay-tablet.jpg);
  }

  @media screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/overlay-tablet@2x.jpg);
  }

  @media screen and (min-resolution: 3dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/overlay-tablet@3x.jpg);
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/overlay-desktop.jpg);
    margin-top: 0;
  }

  @media screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/overlay-desktop@2x.jpg);
  }

  @media screen and (min-resolution: 3dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/overlay-desktop@3x.jpg);
  }
}

.overlay {
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    max-width: 1600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;

  color: getColor("basic-white");
  @include font($main-font, 900, 26px);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }

  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .link,
.subscription-submit {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 0;
  margin-bottom: 0;

  color: getColor("basic-white");
  @include font($main-font, 700, 16px);

  line-height: 1.87;
  letter-spacing: 0.06em;

  background: getColor("accent-color");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  z-index: 1;

  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: relative;
  // top: 15%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;

  background-color: getColor("basic-white");
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.button-close {
  position: absolute;
  @include centeredFlex();
  top: 8px;
  right: 8px;

  justify-content: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: getColor("basic-black");
  background-color: getColor("basic-white");

  fill: getColor("basic-black");
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .close-icon,
  &:focus .close-icon {
    fill: getColor("accent-color");
  }
}

.close-icon {
  position: absolute;
  fill: currentColor;
}

.modal-title {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0;
  margin-bottom: 12px;

  @include font($main-font, 700, 20px);

  line-height: 1.15;
  color: getColor("title-color");
}

.place-order-form {
  width: 100%;
  height: 342px;
  margin: 0;
  margin-bottom: 20px;

  padding-left: 40px;
  padding-right: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field:last-child {
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 4px;
  line-height: 1.17;

  text-align: left;
}

.form-input {
  outline: none;
  height: 40px;
  padding-left: 40px;
  border-radius: 4px;
  border: 1px solid getColor("input-border");

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid getColor("accent-color");
  }

  &:focus ~ .form-icon {
    fill: getColor("accent-color");
  }
}

.form-icon {
  position: absolute;
  display: inline-flex;
  bottom: 11px;
  left: 12px;
  margin-right: 12px;
  fill: getColor("basic-black");

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input.comment {
  display: inline-block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.agreement {
  position: relative;
  display: block;
  margin-bottom: 30px;

  padding-left: 28px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:checked ~ .agreement-text::after {
    border: 2px solid getColor("accent-color");
    background-color: getColor("accent-color");
    background-image: url(../images/icon-checkbox.svg);

    background-size: contain;
    background-origin: border-box;
  }
}

.checkbox-icon {
  position: absolute;
  left: 12px;
  top: 4px;
  background-color: getColor("basic-white");
  border-radius: 2px;
  border: 2px solid getColor("title-color");

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-text {
  display: inline-block;

  &::after {
    position: absolute;
    content: "";
    display: inline-block;

    left: 12px;
    top: 4px;

    width: 16px;
    height: 15px;

    border: 2px solid getColor("title-color");
    border-radius: 2px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.agreement input:checked + .checkbox-icon {
  background-color: getColor("accent-color");
  border: 2px solid getColor("accent-color");
}

.terms {
  color: getColor("accent-color");
}

.link.submit {
  border: 1px solid transparent;

  box-shadow: 0 0 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
