/* Portfolio */
.projects {
  @media screen and (max-width: 1200px) {
    .container {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  padding-top: 94px;
  margin-bottom: 0;
  padding-bottom: 94px;
}

.buttons-menu .button {
  display: inline-block;
  border: 1px solid transparent;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
}

.projects .buttons-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;

  min-height: 131px;
  padding-bottom: 34px;
  margin: -4px;

  .item {
    margin: 4px;
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}

.buttons-menu .item + .item {
  margin-left: 8px;
}

.button {
  cursor: pointer;
  color: getColor("title-color");
  background-color: getColor("team-button-bgr");

  @include font($main-font, 500, 16px);

  box-shadow: 0 0 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor("accent-color");
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: getColor("basic-white");
  }
}

.projects-list .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 0;
  margin: 0;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-text {
  padding: 20px 24px;
  margin: 0;
  border: 1px solid getColor("projects-border-line");
  border-top: 1px solid transparent;
}

.project-title {
  margin: 0;

  color: getColor("title-color");

  @include font($main-font, 700, 18px);

  line-height: 2;
}

.project-category {
  margin: 0;
  margin-top: 4px;

  color: getColor("text-color");
  font-size: 16px;
  line-height: 1.88;
}

.projects-list {
  
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (max-width: 767px) {
    margin: 0;
  }
}

.projects-list .item {
  
  &:hover .card-overlay {
    transform: translateY(0);
  }

  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    margin: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.card {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-left: 24px;
  padding-right: 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  @media screen and (max-width: 767px) {
    padding-top: 77px;
    padding-bottom: 77px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 49px;
    padding-bottom: 49px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.card-overlay p {
  font-size: 18px;
  color: getColor("basic-white");
}
