/* Team */
.team {
  @media screen and (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: getColor("team-button-bgr");
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (max-width: 767px) {
    margin: 0;
  }
}

.team-item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: getColor("basic-white");
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.name-position {
  min-width: 76px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}

.names {
  margin-bottom: 10px;

  color: getColor("title-color");
  @include font($main-font, 700, 16px);

  line-height: 1.19;
}

.job {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social-links {
  @include centeredFlex();
  justify-content: space-between;
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.social-links .link {
  @include centeredFlex();
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: getColor("icons-color");
  background-color: getColor("basic-white");
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor("basic-white");
    background-color: getColor("accent-color");
  }
}

.icon-socials {
  fill: currentColor;
}
